<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oop's,Page Not Found | OneLoveBeauty</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-jovic">
    <div class="flex justify-center items-center h-screen">
        <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md text-center">
            <h1 class="text-3xl text-gray-800 font-bold mb-4"> Page Not Found</h1>
            <p class="text-lg text-gray-600 mb-8">Oops! Looks like you're lost. The page you're looking for does not exist.</p>
            <a href="/" class="inline-block px-6 py-3 bg-blue-500 text-white rounded hover:bg-blue-600">I want dreadlocks!</a>
        </div>
    </div>
</body>
</html>
