---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'
import Section from '../components/Section.astro'


---

<Layout title="About Us | OneLoveBeauty"
pageUrl="/about"
>
  <Main class="py-12">
    <H1 text="About One Love Beauty Salon"></H1>
  <Section>

    <p class="font-bold  text-gray-500 text-lg  font-mono py-6" > One Love Beauty Salon isn't just your average salon. We're Makindye's dedicated dreadlock experts, passionate about helping you express your unique style with intricately crafted dreadlocks. Whether you desire natural or artificial creations, expert maintenance, or stunning styling, our experienced team has the skills to bring your vision to life.
      <br><br>
      But that's not all! We believe in complete self-care, so we offer a range of additional beauty services to pamper you from head to toe. From hair styling and flawless nail painting to invigorating scrubs and makeup application, we have everything you need to feel confident and radiant.
      <br><br>
      Convenience is Key! Relax in the comfort of your own home - we offer the flexibility of mobile services, bringing our expertise directly to your doorstep.
    </p>
    
    <div class="cta bg-teal-900 text-center py-4 rounded-md mt-8">
      <p class="text-white text-lg font-bold py-4">Ready to unleash your inner lion? Book your appointment today!</p>
      <a href="/contact" class="btn bg-xephas-yellow text-white px-4 py-2 rounded-md hover:bg-blue-500 transition-all duration-200">Book Now</a>
      
    </div>
    
  </Section>
      
  </Main>
</Layout>


