
---
import Layout from '../layouts/layouts.astro'
import Section from '../components/Section.astro'
import H1  from '../components/H1.astro'
import Main from '../components/Main.astro'
---

<Layout title ="OneLoveBeauty "
pageUrl="/"
>

  
  <div class="  md:bg-[url('/images/Screen.jpg')] bg-[url('/images/Phone1.jpg')] bg-cover overflow-hidden h-screen" >  

    <div class="text-white text- h-[100dvh]">

      <div class=" bg-gray-800 bg-opacity-50 h-[100%] flex justify-center items-center flex-col">
        <p class="md:text-6xl  sm:text-4xl lg:text-6xl text-2xl font-bold text-white  pt-28">ONE LOVE BEAUTY SALON</p>
        <p class="md:text-4xl pt-2 font-thin text-2xl   text-white  ">Dreadlocks for All</p>
      </div>
     
    </div>
  </div>

</div>

  <Section>
      
    <div class="text-center px-4 py-8 md:py-12 lg:px-20 lg:py-16">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Dreadlocks. Styled. Elevated.</h1>
      <p class="text-lg leading-loose text-gray-600">One Love Beauty Salon: Your Dreadlock headquarters. We specialize in creating and caring for healthy, beautiful dread styles. Book your appointment today and unlock your full potential with expert dreadlock care.</p>
    </div>
    

  </Section>
  

</Layout>


