---
import Layout from '../layouts/layouts.astro'
import Main from '../components/Main.astro'
import H1 from '../components/H1.astro'

import Section from '../components/Section.astro'
---

<Layout title ="Services | WebSolutionUganda"
pageUrl="/services"
>

 <Main>
  
  
  <H1 text="Explore Our Services" ></H1>

 <Section >
  
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Web Design</h3>
        <p class="text-gray-700">We design websites that are beautiful & easy to use. Attract visitors, guide them clearly, and achieve your business goals.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Web Hosting</h3>
        <p class="text-gray-700">Find the perfect home for your website. We offer reliable & secure hosting plans to fit your needs.  In some cases, free options might be available!</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">SEO Marketing</h3>
        <p class="text-gray-700">Get Found Online. We optimize your website to rank higher in search results, driving organic traffic and boosting your visibility.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">SSL Certificates</h3>
        <p class="text-gray-700">Keep Your Website Safe & Trusted.  SSL certificates encrypt data and build trust with visitors, protecting your website and your customers.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Branding</h3>
        <p class="text-gray-700">Stand Out From The Crowd. We craft a unique brand identity that connects with your audience, builds trust, and makes you memorable.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Content Marketing</h3>
        <p class="text-gray-700">Attract & Engage Your Audience. We create valuable content that educates, builds trust, and keeps visitors coming back for more.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Mobile development</h3>
        <p class="text-gray-700">Go Mobile-First. We develop high-performing mobile apps that reach your audience on the go, boosting engagement and brand reach.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Web App Development</h3>
        <p class="text-gray-700">Turn Your Vision into Reality. We build custom web applications that streamline your processes, enhance user experience, and achieve your business goals.</p>
      </div>
      <div class="goal-item bg-white rounded-lg shadow-md p-6 hover:bg-gray-200">
        <h3 class="text-xl  font-bold mb-2 hover:text-jovic">Video editing</h3>
        <p class="text-gray-700">Elevate Your Videos. We transform raw footage into professional, engaging videos that captivate your audience and tell your story.</p>
      </div>
    </div>
  </div>
</Section>

 </Main>

</Layout>

