<section class="contact-info bg-gradient-to-r from-blue-500 to-teal-400 py-20 px-10 shadow-md grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="text-center md:text-left text-white space-y-4">
      <h2 class="text-3xl font-bold">Let's Talk About Your Project</h2>
      <p class="text-xl">We're passionate about creating beautiful and functional websites that help businesses grow.</p>
    </div>

    <div class="contact-info grid grid-cols-2 gap-4 md:grid-cols-3">
        <div>
          <a href="https://wa.me/256755843627" target="_blank" class="contact-icon flex items-center hover:bg-blue-600 hover:text-white rounded-full py-3 px-4 transition duration-300">
            <i class="fab fa-whatsapp text-xl text-white"></i>
            <span class="ml-2 text-sm font-medium text-white">WhatsApp Us</span>
          </a>
        </div>
        <div>
          <a href="https://twitter.com/Websolutions256" target="_blank" class="contact-icon flex items-center hover:bg-teal-500 hover:text-white rounded-full py-3 px-4 transition duration-300">
            <i class="fab fa-twitter text-xl text-white"></i>
            <span class="ml-2 text-sm  font-medium text-white">@WebSolutions265</span>
          </a>
        </div>
        <div>
          <a href="tel:+256 776 546326" class="contact-icon flex items-center hover:bg-blue-700 hover:text-white rounded-full py-3 px-4 transition duration-300">
            <i class="fas fa-phone-alt text-xl text-white"></i>
            <span class="ml-2 text-sm font-medium text-white">+256 776 546326</span>
          </a>
        </div>
      </div>
      

    
   
  </section>
  