---
import { developer } from "../scripts/constanst";

// Props (parameters) type declaration

---




<footer
  id="footer"
  class=`grid grid-cols-1 lg:grid-cols-2 px-4 py-4 lg:px-10 space-y-1 text-xs text-center text-white bg-jovic`
>
  <!-- Left column for website pages -->
  <div class="">
    <!-- Add links to website pages here -->
    <ul class="mt-2 uppercase">
      <p class="text-lg font-bold">Book Now</p>
      <li><p class="text-jovic-white font-bold text-[12px] ">0788511040</p></li>
      <li><p class="text-jovic-white font-bold text-[12px] ">0704498012</p></li>
     
    </ul>
  </div>

  <!-- Right column for footer content -->
  <div class="">
    <p class="text-lg font-bold">{developer.copyright}</p>
    <p class="mb-2 text-[12px]">
      Website by
      <a
      href={developer.footerUrl}
      class="underline text-red-800 font-bold hover:cursor-pointer text-xephas-white hover:text-xephas-yellow"
      target="_blank"
      rel="noopener">{developer.footerCollaborator} &rarr;</a>

    </p>
    <!-- Add any additional footer content here -->
  </div>
</footer>
 













