<!-- <main class=" mx-auto w-full bg-jovic-white overflow-x-auto main md:mt-[82px]"> -->
<main class=" mx-auto w-full bg-jovic-white overflow-x-auto main">

    <slot/>
    
</main>
    
<style>
    main {
  padding-top: 83px;
  padding-bottom: 80px;
}
</style>